PORT=3000
CORS_ORIGIN=http://localhost:4200,http://127.0.0.1:4200
WEBHOOK_INCOMING_URL=http://localhost:5678/webhook/whatsapp-incoming
WEBHOOK_SECRET=supersecret
AUTH_DATA_PATH=./.wwebjs_auth
HEADLESS=true
